<footer>
    <div>
        <div style="padding: 30px;">
            <div style="background: #F1F1F1 0% 0% no-repeat padding-box; border-radius: 22px;">
                <div style="padding: 20px">
                    <p style="font-weight: 100; font-size: 20px ; line-height: 37px;  font-family: Verdana; color: #8F91A4; text-align: center; line-height: 1.8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia, molestiae quas vel sint commodi repudiandae consequuntur voluptatum</p>
                </div>
                <div style="background: transparent linear-gradient(90deg, var(--unnamed-color-2bad90) 0%, var(--unnamed-color-00489a) 100%) 0% 0% no-repeat padding-box; background: transparent linear-gradient(90deg, #2BAD90 0%, #00489A 100%) 0% 0% no-repeat padding-box; opacity: 1;height: 70px; color: white; width: 100%; padding: 1px 0 15px 0;">
                    <p style="text-align: center; font-size: 24px;  line-height: 48px; font-family: Verdana; font-weight: 100; ">"Lorem Ipsum Maxime Optio!"</p>
                </div>
                <div style="padding: 20px">
                    <p style="width: 418px;  font-weight: Bold; font-size: 20px ; font-family: Verdana; height: 192px; text-align: center; color: #4C4C51; line-height: 1.6; margin:0 auto;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia, molestiae quas vel sint.</p>
                </div>
            </div>
        </div>
        <p style=" padding: 30px; font-weight: 100; font-size: 16px ; line-height: 37px;  font-family: Verdana; color: #9E9E9E; font-family: Verdana;"> Note: Lorem Ipsum</p>
        <div style=" background-color: #f1f1f1; ">
            <div style="margin:0 auto;">
                    <img src="{{this.logo}}" alt="company logo" style="width:50px" />
            </div>
                <p style="text-align: center">Company XYZ</p>
                <p style="text-align: center">example@example.com</p>
                <p style="text-align: center">Email: <a style="color: blue;">hello@abc.com</a></p>
        </div>
    </div>
</footer>