<header>
    <div>
            <div style="text-align: center; background: transparent linear-gradient(90deg, #2BAD90 0%, #00489A 100%) 0% 0% no-repeat padding-box; background: transparent linear-gradient(90deg, #2BAD90 0%, #00489A 100%) 0% 0% no-repeat padding-box; 
            {{!-- width: 497px;  --}}
            width: auto; 
            height: 30px; color: white; padding: 5px 0 10px 0; margin: 0 auto;">
                    <p style="text-align: center; font-weight: 100; font-size: 20px ; line-height: 27px;  font-family: Verdana; margin: 0px;">Expressfold</p>
            </div>
        <hr>
    </div>
</header>